{% extends "base.html" %}
{% block content %}
<div class="auth-stage">
    <section class="auth-card">
        <div class="card-header">
            <h2 class="card-title">Сброс пароля</h2>
        </div>
        <div class="card-body">
            <div class="center-copy">
                <p>Мы отправили письмо с инструкциями по сбросу пароля на вашу электронную почту. Проверьте входящие сообщения и следуйте инструкции.</p>
                <div class="status-icon">✓</div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'rutalk:dashboard' %}" class="btn">На главную</a>
        </div>
    </section>
</div>
{% endblock content %}
