{% extends 'base.html' %}

{% block content %}

<div class="column">
    {% for group in groups %}
        <div class="box">
            <a href="{% url 'rutalk:group' group.pk %}">
                <strong>{{ group.name }}</strong>
            </a>
            <span class="is-small has-text-grey-light">
                ({{ group.created_at }} by {{ group.creator.username }})
            </span>
        </div>
    {% endfor %}
</div>

<div class="column is-one-third">
    <div class="block">
        <a href="{% url 'rutalk:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>
    <div class="block">
        <a href="{% url 'rutalk:profile' request.user.profile.id %}">
            <button class="button is-success is-light is-outlined is-fullwidth">
                My Profile
            </button>
        </a>
    </div>
    <div class="block">
        <a href="{% url 'rutalk:group_list' %}">
            <button class="button is-success is-light is-outlined is-fullwidth">
                All groups
            </button>
        </a>
    </div>
</div>

{% endblock content %}