{% extends 'base.html' %}

{% block content %}
<div class="section-row">
    <h1 class="section-title">All Profiles</h1>
</div>

{% if profiles %}
<div class="content-list">
    {% for profile in profiles %}
        <a href="{% url 'rutalk:profile' profile.id %}" class="profile-list-link">
            <article class="list-card profile-list-card">
                <div class="profile-avatar">{{ profile.user.username|first|upper }}</div>
                <div>
                    <div class="profile-list-name">{{ profile.user.username }}</div>
                    <div class="profile-list-handle">@{{ profile.user.username }}</div>
                </div>
            </article>
        </a>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
